.wrapper {
    display: flex;
    max-width: 1800px;
    justify-content: center;
    padding: 7vw 3vw 6vw;
}

.container {
    display: flex;
    justify-content: space-around;
}

.title-container h2 {
    font-size: calc((2.45 - 1) * 1.2vw + 1rem);
}

.title-container {
    padding-left: 35px;
}

.content-container {
    width: 36%;
    font-size: calc((1.46 - 1) * 1.2vw + 1rem);
    letter-spacing: 0.05em;
    margin-right: 35px;
}

.content-container p {
    margin-bottom: 24px;
}

.technological-title {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    line-height: 43px;
}

.title-container em,
.title em {
    font-weight: 100;
}

.title-container strong em,
.title > span > strong > em {
    font-weight: bold;
}

.content-container ul {
    list-style-type: none;
}

.content-container ul p {
    margin: 0.5rem 0;
    &::before {
        padding-right: 10px;
        content: '\2022';
    }
}

.content-container p a {
    color: #000;
    text-decoration-line: 1px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.technological-content-container {
    margin-right: 70px;
    padding-right: 10px;
    width: 37%;
}

@media only screen and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        padding: 12vw 6vw 8vw;
    }

    .container {
        display: block;
    }

    .title-container {
        padding: 0;
    }

    .content-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .title-container {
        padding: 3vw 0;
    }

    .technological-title {
        display: block;
        padding-left: 0px;
    }
}
