.their-content,
.realities-content {
    background-color: #f0f0f0;
}

.trademark-wrap {
    padding: 6.6vw;
}

.trademark-image-container img {
    width: 100%;
    height: 100%;
}

.trademark {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 8%;
    row-gap: 8vw;
}

.trademark-image-container {
    max-width: 159px;
    margin: 0 auto;
}

.trademark-title {
    padding: 0 0 12rem 16rem;
    font-size: calc((1.7 - 1) * 1.2vw + 1rem);
}

.trademark-title h2 strong em {
    font-weight: bold;
}

.trademark-title h2 em {
    font-weight: 100;
}

.trademark-line {
    height: 1px;
    padding: 8%;
}

.their-wrap {
    display: flex;
    max-width: 1800px;
    justify-content: center;
    padding: 7vw 3vw 6vw;
}

.their-container {
    display: flex;
    justify-content: space-around;
}

.their-title h2 {
    font-size: calc((2.45 - 1) * 1.2vw + 1rem);
}

.their-title {
    padding-left: 35px;
}

.their-content_content {
    width: 36%;
    font-size: calc((1.46 - 1) * 1.2vw + 1rem);
    letter-spacing: 0.05em;
    margin-right: 35px;
}

.their-content_content p {
    margin-bottom: 24px;
}

.their-title h2 em {
    font-weight: 100;
}

.their-title h2 strong em {
    font-weight: bold;
}

.their-content-list {
    display: grid;
    padding-top: 15%;
    grid-template-columns: 50% 50%;
}

.their-text {
    font-size: calc((1.35 - 1) * 1.2vw + 1rem);
    font-style: italic;
}

.their-h2 {
    font-weight: normal;
    font-size: 2.58rem;
    margin-bottom: 24px;
}

p strong {
    font-size: calc((1.35 - 1) * 1.2vw + 1rem);
}

.realities-content,
.technological-content,
.home-content {
    min-height: 66vh;
    display: flex;
    align-items: center;
}

.their-content-list-content {
    padding: 17px 17px 17px 0;
}

@media only screen and (max-width: 63.9375em) {
    .trademark-title {
        padding: 0;
    }

    .trademark {
        display: block;
    }

    .trademark-line {
        display: none;
    }

    .trademark-image-container {
        padding: 17px 0;
    }

    .trademark-wrap {
        padding: 6vw;
    }

    .their-wrap {
        padding: 8vw 6vw;
    }

    .their-container {
        display: block;
    }

    .their-title {
        padding-left: 0;
    }

    .their-content_content {
        width: 100%;
        margin-top: 30px;
    }

    .their-text {
        width: 90%;
    }

    .their-content-list {
        padding-top: 0%;
        display: block;
    }

    .their-h2 {
        font-size: 1.65rem;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .their-text {
        width: 100%;
    }

    .their-content-list-content {
        padding: 17px 0 17px 0;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
